/*==========NavBar===========*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.header{
  z-index: 1000;

}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3rem;
  
}

.d-flex {
  display: flex;
  align-items: center;
}

.top-nav div {
    justify-content: space-between;
   
}

.top-nav a {
    padding-left: 30px;
}
.nav-center{
  justify-content: space-between;
  justify-content: space-evenly;
 
  
}

.nav-center li:hover{
  color: #707070;
  text-decoration: underline #707070;
  font-weight: bold;
}

.nav-center li {
  padding-top: 20px;
  font-size: 20px;
  
  color: black;
 
}

.nav-center ul {
 text-align: center;
}


.logo {
width: 100px;
padding-top: 5px;

}
/*=====================*/

/*==========Beauty CSS===========*/

img{
text-align: center;
}

.title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 600;
  width: 100%;
  padding-top: 60px;
}

.title h1 {
  font-weight: 400;
}

.title span {
  color: var(--primary);
}

.product-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  
}

.product {
  text-align: center;
  padding-bottom: 1rem;
  transition: all 500ms ease-in-out;
 
  
}


.product .img-cover {
  overflow: hidden;
}

.product img {
  transition: all 500ms ease-in-out;
 
}
hr {
  opacity: 0.2;
}

#h1{
  color: #9c9c9c;
  font-size: 60px;
}

 .product  p{
   padding-top: 10px;
   font-size: 20px;
 
}
.price{
  font-size:18px ;
  color: red;
  font-weight: bold;
}

.btn{
  border: none;
  padding: 10px 25px;
  text-align: center;
  background-color: black;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.btn1{
  border: none;
padding: 10px 40px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
background-color:#9c9c9c;
color: white;

}
.product .btn:hover{
  background-color: rgb(56, 55, 55);
}
.product .btn1:hover{
  background-color: #636060;
}
.img-cover img{
  padding-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
/*=====================*/
/*==========Footer===========*/
footer{
  display: flex;
  padding-top: 10%;
  justify-content: center;
}
.footer1 {

  padding-right: 4%;
  padding-bottom: 50px;

}

.footer2 {
  margin-left: 20px;
  padding-left: 10%;

}


.footer3 {
  margin-left: 50px;
  padding-left: 5%;

}

.footer4{
  padding-left: 5%;
}

.socialmedia{

  padding-top: 2%;
  display: flex;
  justify-content: center;
  
}

.socialmedia  img {
  padding-left: 70px;
}


.teDrejtat {
  padding-top: 30px;
  text-align: center;
}


hr {
  opacity: 0.2;
}

#foto{
    width: 220px;
}