/*==========NavBar===========*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    z-index: 1000;
  
}

a {
    text-decoration: none;
    color: var(--black);
  }
  
  li {
    list-style: none;
  }
  
  .container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 3rem;
    
  }
  
  .d-flex {
    display: flex;
    align-items: center;
  }
  
  .top-nav div {
      justify-content: space-between;
     
  }

  .top-nav a {
      padding-left: 30px;
  }
  .nav-center{
    justify-content: space-between;
    justify-content: space-evenly;
   
    
  }

  .nav-center li:hover{
    color: #25c5c5;
    text-decoration: underline #25c5c5;
    font-weight: bold;
  }

 .nav-center li {
    padding-top: 20px;
    font-size: 20px;
    
    color: black;
   
 }

 .nav-center ul {
   text-align: center;
 }


.logo {
  width: 100px;
  
}

/*================================*/
/*==========Blog & News===========*/
.blog-section{
    width: 100%;
}

.blog-section .section-content{
    width: 85%;
    margin: 20px auto;
}

.blog-section .section-content .title{
    width: 60%;
    text-align: center;
    margin: auto;
}

.blog-section .section-content .title h2{
    padding-top: 40px;
    font-size: 40px;
    color: #6a6a6a;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.blog-section .section-content .title p{
    font-size: 18px;
    color: #6a6a6a;
    text-transform: uppercase;
}

.blog-section .section-content .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    margin: 25px auto;
}

.blog-section .section-content .cards .card{
    width: 100%;
    background-color: #f7f7f7;
    position: relative;
}

.blog-section .section-content .cards .card img{
    width: 100%;
    height:auto ;
}

.blog-section .section-content .cards .card .article{
    padding: 15px 20px;
}

.blog-section .section-content .cards .card .article h4{
   font-size: 24px;
   color: #4a4a4a;
}


.blog-section .section-content .cards .card .article p{
    font-size: 16px;
    margin: 10px 0px;
    color: #6a6a6a;
 }

 .blog-section .section-content .cards .card a{
     text-decoration: none;
     display: inline-block;
     background-color: #25c5c5;
     padding: 8px 15px;
     margin-left: 20px;
     color: #fff;
     margin-bottom: 20px;
 }

 .blog-section .section-content .cards .card .posted-date p{
     font-weight: 600;
     position: absolute;
     top: 0;
     left: 0;
     display: inline-block;
     background-color:#25c5c5 ;
     padding: 6px 15px;
 }

@media screen and (max-width:992px){
    .blog-section .section-content .cards{
        grid-template-columns: repeat(2,1fr);
      
    }
}

@media screen and (max-width:768px){
    .blog-section .section-content .cards{
        grid-template-columns:1fr ;
      
    }
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
      padding-left: 40px;
    }
}

/*=======================*/
/*==========Footer===========*/

.container-footer{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #25c5c5;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #fff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	color: #fff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #fff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
    padding-left: 40px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
}

.logo{
  padding-top: 6px;
}
  
  



  #header_close,
  #header_toggle{
   display: none;
  }
  
  
  @media screen and (max-width: 1100px) and (min-width: 500px){
    .logo{
      width: 80px;
      
    }
  
    #header_toggle{
      
      display: inline;
      color: rgb(8, 8, 8);
      font-size: 30px;
      padding-left: 20px;
    }
  
    #header_close{
      position: absolute;
      right: 24px;
      display: block;
      font-size: 24px;
      border-radius: 50%;
      color: white;
    }
  
  
    .navigation{
      position: absolute;
      right: 100%;
      background-color: #ffffff;
      border: 1px solid #4a4a4a;
      color: white;
      width: 100%;
      height: 100vh;
      padding: 24px 0;
      z-index: 100;
      transition: 0.5s;
      
      
  
    }
    
    .nav-center{
      display: flex;
      flex-direction: column;
    }
  
    .nav-item{
      margin: 2rem 0;
    }
    .show{
      right: 0;
    }
  
    .nav-center li{
      color: #ffffff;
      background-color:#4a4a4a;
      width: 250px;
      height: 50px;
      text-align: center;
      /* border-radius: 50px; */
    }
  
    
    .nav-center li:hover{
      color: rgb(0, 0, 0);
      
      
    }
    .title h1{
      font-size: 25px;
    }
  
  }

