/*==========NavBar===========*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    z-index: 1000;
  
}

a {
    text-decoration: none;
    color: var(--black);
  }
  
  li {
    list-style: none;
  }
  
  .container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 3rem;
    
  }
  
  .d-flex {
    display: flex;
    align-items: center;
  }
  
  .top-nav div {
      justify-content: space-between;
     
  }

  .top-nav a {
      padding-left: 30px;
  }
  .nav-center{
    justify-content: space-between;
    justify-content: space-evenly;
   
    
  }

  .nav-center li:hover{
    color: #7ABEB2;
    text-decoration: underline #7ABEB2;
    font-weight: bold;
    
  }

 .nav-center li {
    padding-top: 20px;
    font-size: 20px;
    
    color: black;
   
 }

 .nav-center ul {
   text-align: center;
 }


.logo {
  width: 115px;
  
}
/*=====================*/
/*==========Kids CSS===========*/
#kids-id {
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    padding-bottom: 30px;

}

#kids-id span {
  color:#7ABEB2;
}

#img-kids {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
 

}

.products {
  color: white;
 
  
}
.product img {
  width: 300px;
  height: 400px;
}

.product-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  
  gap: 5rem;
  margin-bottom: 5rem;
  
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  
}
.product {
  text-align: center;
  padding-bottom: 1rem;
  
  border-radius: 2px solid black;
  
}

.kids-section{
  padding-top:40px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 40px;
  
  font-family: Arial, Helvetica, sans-serif;
}


.btn-kids{
  margin-top: 10px;
  background-color: black;
  
  color: white;
  width: 100px;
  height: 30px;
  text-align: center;
}

#shop-kids{
  background-color: #7ABEB2;
  
}

.span-qmimi{
  color: red;
}
/*=====================*/

/*==========Footer===========*/

footer{
  display: flex;
  padding-top: 10%;
  justify-content: center;
}
.footer1 {

  padding-right: 4%;
  padding-bottom: 50px;

}

.footer2 {
  margin-left: 20px;
  padding-left: 10%;

}


.footer3 {
  margin-left: 50px;
  padding-left: 5%;

}

.footer4{
  padding-left: 5%;
}

.socialmedia{

  padding-top: 2%;
  display: flex;
  justify-content: center;
  
}

.socialmedia >div img {
  padding-left: 70px;
}


.teDrejtat {
  padding-top: 30px;
  text-align: center;
}


hr {
  opacity: 0.2;
}

