/*==========NavBar===========*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    z-index: 1000;
  
}

a {
    text-decoration: none;
    color: var(--black);
  }
  
  li {
    list-style: none;
  }
  
  .container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 3rem;
    
  }
  
  .d-flex {
    display: flex;
    align-items: center;
  }
  
  .top-nav div {
      justify-content: space-between;
     
  }

  .top-nav a {
      padding-left: 30px;
  }
  .nav-center{
    justify-content: space-between;
    justify-content: space-evenly;
   
    
  }

  .nav-center li:hover{
    
    color: #425F85;
    text-decoration: underline #425F85;
    font-weight: bold;
    
  }

 .nav-center li {
    padding-top: 20px;
    font-size: 20px;
    
    color: black;
   
 }

 .nav-center ul {
   text-align: center;
 }


.logo {
  width: 170px;
  
}
/*====================*/
/*==========MEN's CSS===========*/

#img-banner {
  padding-top: 10%;
  width: 100%;
  height: 700px;
}


.products {
  color: white;
 
  
}
.product img {
  width: 300px;
  height: 400px;
}

.product-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  
  gap: 5rem;
  margin-bottom: 5rem;
  
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  
  
  
 
}
.product {
  text-align: center;
  padding-bottom: 1rem;
  
  border-radius: 2px solid black;
  
}

#mens-id{
  text-align: center;
  padding-top: 30px;
}

.headingtxt{
  padding-top: 30px;
  text-align: center;

}

.paragraf-text{
  padding-top:20px;
  padding-bottom: 30px;
}


.Tommy-section{
  padding-top: 30px;
  font-size: 20px;
  text-align: center;
  padding-bottom:30px ;
}

.btn-mens{
  margin-top: 10px;
  background-color: black;
  color: white;
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 11px;
}
.btn-mens:hover{
  cursor: pointer;
}

#shop-mens{
  background-color: #425F85;
}

.span-qmimi{
  color: red;
}

.btn-mens:hover{
  cursor: pointer;
}
/*=====================*/
/*==========Footer===========*/

footer{
  display: flex;
  padding-top: 10%;
  justify-content: center;
}
.footer1 {

  padding-right: 4%;
  padding-bottom: 50px;

}

.footer2 {
  margin-left: 20px;
  padding-left: 10%;

}


.footer3 {
  margin-left: 50px;
  padding-left: 5%;

}

.footer4{
  padding-left: 5%;
}

.socialmedia{

  padding-top: 2%;
  display: flex;
  justify-content: center;
  
}

.socialmedia >div img {
  padding-left: 70px;
}


.teDrejtat {
  padding-top: 30px;
  text-align: center;
}


hr {
  opacity: 0.2;
}

