/*==========NavBar===========*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    z-index: 1000;
  
}

a {
    text-decoration: none;
    color: var(--black);
  }
  
  li {
    list-style: none;
  }
  
  .container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 3rem;
    
  }
  
  .d-flex {
    display: flex;
    align-items: center;
  }
  
  .top-nav div {
      justify-content: space-between;
     
  }

  .top-nav a {
      padding-left: 30px;
  }
  .nav-center{
    justify-content: space-between;
    justify-content: space-evenly;
   
    
  }

  .nav-center li:hover{
    color: #FF4F04;
    text-decoration: underline #FF4F04;
  }

 .nav-center li {
    padding-top: 20px;
    font-size: 20px;
    
    color: black;
   
 }

 .nav-center ul {
   text-align: center;
 }


.logo {
  width: 100px;
  
}
/*===================================*/


  
/*================Footer==================*/

footer{
    display: flex;
    padding-top: 10%;
    justify-content: center;
  }
  .footer1 {
  
    padding-right: 4%;
    padding-bottom: 50px;
  
  }
  
  .footer2 {
    margin-left: 20px;
    padding-left: 10%;
  
  }
  
  
  .footer3 {
    margin-left: 50px;
    padding-left: 5%;
  
  }
  
  .footer4{
    padding-left: 5%;
  }
  
  .socialmedia{
  
    padding-top: 2%;
    display: flex;
    justify-content: center;
    
  }
  
  .socialmedia >div img {
    padding-left: 70px;
  }
  
  
  .teDrejtat {
    padding-top: 30px;
    text-align: center;
  }
  
  
  hr {
    opacity: 0.2;
  }
  
  #foto{
      width: 220px;
  }