/*==========NAV BAR=============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #F4F6FC;
}

.header{
    z-index: 1000;
  
}

a {
    text-decoration: none;
    color: var(--black);
  }
  
  li {
    list-style: none;
  }
  
  .container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 3rem;
    
  }
  
  .d-flex {
    display: flex;
    align-items: center;
  }
  
  .top-nav div {
      justify-content: space-between;
     
  }

  .top-nav a {
      padding-left: 30px;
  }
  .nav-center{
    justify-content: space-between;
    justify-content: space-evenly;
   
    
  }

  .nav-center li:hover{
    color: #FF4F04;
    text-decoration: underline #FF4F04;
  }

 .nav-center li {
    padding-top: 20px;
    font-size: 20px;
    
    color: black;
   
 }

 .nav-center ul {
   text-align: center;
 }


.logo {
  width: 100px;
  padding-top: 5px;
  
}
/*=========================*/
/*=========Sign Up===========*/
.reigster-form{
  padding-top: 30px;
 
  display: flex;
  justify-content: center;
}

.header2 h2{
  padding-top: 20px;
  background-color: white;
  color: #2E5BFF;
 
}

.form{
  padding: 20px 40px;

  background-color: white;
}

.form-control {
  
  background-color: rgb(255, 255, 255);
  margin-bottom:10px;
  padding-bottom: 10px;
 
}

.form-control label{
  
  display: inline-block;
  margin-bottom:5px;
 

}

.img{
  margin-right: 7%;
  margin-top: 5%;
  
}

.form-control small{
  position: absolute;
  visibility: hidden;


}


.form-control input{

  display: block;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid white;
  width: 250px;
  height: 40px;
  margin-top: 5px;


}


button{
  background-color: #2E5BFF;
  color:#fff;
  padding-bottom: 20px;
  padding: 10px 20px;
  width: 100%;
  border-radius:4px;
  border:2px solid #2E5BFF;
  cursor: pointer;
}

.header2{
  text-align: center;
  color: #2E384D;
}


.form-control.success input{
  border:2px solid rgb(26, 167, 26);
}
.form-control.error input{
  border:2px solid rgb(228, 29, 22);
}

.form-control p{
  background-color: white;
  color: #8C98A9;
}

.form-control a{
  background-color: white;
  color: #2E5BFF;
}

.label{
  background-color: white;
  
}
small{
  background: white;
}

hr {
  opacity: 0.2;
}



  /*==========Footer===========*/
    footer{
        display: flex;
        padding-top: 10%;
        justify-content: center;
      }
      .footer1 {
      
        padding-right: 4%;
        padding-bottom: 50px;
      
      }
      
      .footer2 {
        margin-left: 20px;
        padding-left: 10%;
      
      }
      
      
      .footer3 {
        margin-left: 50px;
        padding-left: 5%;
      
      }
      
      .footer4{
        padding-left: 5%;
      }
      
      .socialmedia{
      
        padding-top: 2%;
        display: flex;
        justify-content: center;
        
      }
      
      .socialmedia >div img {
        padding-left: 70px;
      }
      
      
      .teDrejtat {
        padding-top: 30px;
        text-align: center;
      }
      
