 /*==========NavBar===========*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        background-color: #F4F6FC;
    }
    
    .header{
        z-index: 1000;
      
    }
    hr {
      opacity: 0.2;
    }
    a {
        text-decoration: none;
        color: var(--black);
      }
      
      li {
        list-style: none;
      }
      
      .container {
        max-width: 114rem;
        margin: 0 auto;
        padding: 0 3rem;
        
      }
      
      .d-flex {
        display: flex;
        align-items: center;
      }
      
      .top-nav div {
          justify-content: space-between;
         
      }
    
      .top-nav a {
          padding-left: 30px;
      }
      .nav-center{
        justify-content: space-between;
        justify-content: space-evenly;
       
        
      }
    
      .nav-center li:hover{
        color: #FF4F04;
        text-decoration: underline #FF4F04;
      }
    
     .nav-center li {
        padding-top: 20px;
        font-size: 20px;
        
        color: black;
       
     }
    
     .nav-center ul {
       text-align: center;
     }
    
    
    .logo {
      width: 100px;
      padding-top: 5px;
      
    }
    /*======================*/
    /*==========SIGN IN============*/
    
    .login-form{
      display: flex;
      justify-content: center;
      padding-top: 130px;
    
      
    }
      .img{
      margin: 70px;
      padding: 10px;
      height: 600px;
      width: 800px;
    
    }
    
    /* .img-form{
      margin-right: 250px;
    } */

  h2{
    text-align: center;
    background-color: #fff;
    color:#234de8 ;
   
  }
  .container-signin{
      width: 400px;
      height: 600px;
      background-color: #fff;
      border-radius: 4px;
      overflow: hidden;
  }
  .header-signin{
      background-color: #fff;
      padding: 10px 20px;
      padding-top: 130px;
  }
  .form{
      padding: 20px 40px;
      background-color: #fff;
  }
  
  .form-control{
      margin-bottom:10px;
      padding-bottom: 10px;
      position: relative;
      background-color: #fff;
  }
  .form-control lable {
      display: inline-block;
      margin-bottom:5px;
      background-color: #fff;
  }
  .form-control input{
      display: block;
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      border:2px solid #fff;
  }
  .form-control a{
    color: green;
    padding-left: 130px;
    background-color: #fff;
    font-weight: bold;
   
  }
  

  .form-control.success input{
      border:2px solid rgb(26, 167, 26);
  }
  .form-control.error input{
      border:2px solid rgb(228, 29, 22);
  }
  .form-control small{
      position:absolute;
      margin: 3px;
      visibility: hidden;
  }
  button{
      background-color: #234de8;
      color:#fff;
      padding: 10px 20px;
      width: 100%;
      border-radius:4px;
      border:2px solid #234de8;
      cursor: pointer;
      margin-bottom: 20px;
      font-size: 15px;
  }
   p{
     background-color: #fff;
     color: #8C98A9;
     
   }
   p a{
    background-color: #fff;
    color: #234de8;
    font-weight: bold; 
   }
 
 @media screen and (max-width:1300px){
  .img{
    display: none;
  }
  .container-signin{
    width: 300px;
  }
  .login-form{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
    padding-left: 40px;
  }

}
  
    /*==========Footer===========*/
    .container-footer{
      max-width: 1170px;
      margin:auto;
    }
    .row{
      display: flex;
      flex-wrap: wrap;
      background-color: #234de8;
    }
    ul{
      list-style: none;
    }
    .footer{
      background-color: #234de8;
        padding: 70px 0;
    }
    .footer-col{
      background-color:#234de8;
       width: 25%;
       padding: 0 15px;
    }
    .footer-col h4{
      font-size: 18px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
      background-color: #234de8;
    }
    .footer-col h4::before{
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      background-color: #ffffff;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
    }
    .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
    }
    .footer-col ul li a{
      background-color: #234de8;
      font-size: 16px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      color: #ffffff;
      display: block;
      transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
      color: #ffffff;
      padding-left: 8px;
    }
    .social-links  i {
      background-color: rgba(255,255,255,0.2);
    }
    .footer-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
      /* background-color: #234de8; */
    }
    .footer-col .social-links a:hover{
      color: #24262b;
      background-color: #ffffff;
    }
    .footer-col ul {
      background-color: #234de8;
    }
  
    .social-links{
      background-color: #234de8;
    }
  
    @media(max-width: 767px){
      .footer-col{
        width: 50%;
        margin-bottom: 30px;
        padding-left: 40px;
     }
    }
    @media(max-width: 574px){
      .footer-col{
        width: 100%;
      }
    }
    
    
    