 /*==========NavBar===========*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        background-color: #F4F6FC;
    }
    
    .header{
        z-index: 1000;
      
    }
    hr {
      opacity: 0.2;
    }
    a {
        text-decoration: none;
        color: var(--black);
      }
      
      li {
        list-style: none;
      }
      
      .container {
        max-width: 114rem;
        margin: 0 auto;
        padding: 0 3rem;
        
      }
      
      .d-flex {
        display: flex;
        align-items: center;
      }
      
      .top-nav div {
          justify-content: space-between;
         
      }
    
      .top-nav a {
          padding-left: 30px;
      }
      .nav-center{
        justify-content: space-between;
        justify-content: space-evenly;
       
        
      }
    
      .nav-center li:hover{
        color: #FF4F04;
        text-decoration: underline #FF4F04;
      }
    
     .nav-center li {
        padding-top: 20px;
        font-size: 20px;
        
        color: black;
       
     }
    
     .nav-center ul {
       text-align: center;
     }
    
    
    .logo {
      width: 100px;
      padding-top: 5px;
      
    }
    /*======================*/
    /*==========SIGN IN============*/
    
    .login-form{
      display: flex;
      justify-content: center;
      padding-top: 130px;
    
      
    }
      .img{
      margin: 70px;
      padding: 10px;
      height: 600px;
      width: 800px;
    
    }
    
    .img-form{
      margin-right: 250px;
    }

  h2{
    text-align: center;
    background-color: #fff;
    color:#234de8 ;
   
  }
  .container-signin{
      width: 400px;
      height: 600px;
      background-color: #fff;
      border-radius: 4px;
      overflow: hidden;
  }
  .header-signin{
      background-color: #fff;
      padding: 10px 20px;
      padding-top: 130px;
  }
  .form{
      padding: 20px 40px;
      background-color: #fff;
  }
  
  .form-control{
      margin-bottom:10px;
      padding-bottom: 10px;
      position: relative;
      background-color: #fff;
  }
  .form-control lable {
      display: inline-block;
      margin-bottom:5px;
      background-color: #fff;
  }
  .form-control input{
      display: block;
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      border:2px solid #fff;
  }
  .form-control a{
    color: green;
    padding-left: 130px;
    background-color: #fff;
    font-weight: bold;
   
  }
  

  .form-control.success input{
      border:2px solid rgb(26, 167, 26);
  }
  .form-control.error input{
      border:2px solid rgb(228, 29, 22);
  }
  .form-control small{
      position:absolute;
      margin: 3px;
      visibility: hidden;
  }
  button{
      background-color: #234de8;
      color:#fff;
      padding: 10px 20px;
      width: 100%;
      border-radius:4px;
      border:2px solid #234de8;
      cursor: pointer;
      margin-bottom: 20px;
      font-size: 15px;
  }
   p{
     background-color: #fff;
     color: #8C98A9;
     
   }
   p a{
    background-color: #fff;
    color: #234de8;
    font-weight: bold; 
   }
    /*==========Footer===========*/
    footer{
        display: flex;
        padding-top: 10%;
        justify-content: center;
      }
      .footer1 {
        padding-right: 4%;
        padding-bottom: 50px;
      
      }
      
      .footer2 {
        margin-left: 20px;
        padding-left: 10%;
      }
      
      .footer-text p{
        background-color:#F4F6FC ;
      }
      .footer3 {
        margin-left: 50px;
        padding-left: 5%;
      
      }
      
      .footer4{
        padding-left: 5%;
      }
      
      .socialmedia{
      
        padding-top: 2%;
        display: flex;
        justify-content: center;
        
      }
      
      .socialmedia >div img {
        padding-left: 70px;
      }
      
      
      .teDrejtat {
        padding-top: 30px;
        text-align: center;
        
      }
      .teDrejtat p {
        background-color: #F4F6FC;
        color: black;
      }
      
